.my-videos {
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-group{
  z-index: 30;
}
.vjs-tech {
  pointer-events: none;
}
.vjs-default-skin.vjs-paused .vjs-big-play-button 
{
  display: none !important;
}
.video-js {
  pointer-events: none !important;
}
